<div class="dropdown px-2 py-1 d-flex justify-content-end hide-print" id="nav-bar">
    <button
      class="btn btn-primary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-mdb-toggle="dropdown"
      aria-expanded="false"
    >
    <i class="fa fa-user p-1" aria-hidden="true" style="border: 2px solid white; border-radius: 50%;"></i>
    
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="/" style="border: 1px solid rgb(220, 220, 220); border-style: none none solid none;">Home</a></li>
      <li><a class="dropdown-item" href="/profile" style="border: 1px solid rgb(220, 220, 220); border-style: none none solid none;">Edit Profile</a></li>
      <li><a class="dropdown-item" href="/logout">Logout</a></li>
    </ul>
  </div>