bidict==0.21.4
cffi==1.15.0
click==8.0.3
cryptography==35.0.0
Flask==2.0.2
Flask-SocketIO==5.1.1
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
pycparser==2.20
pyOpenSSL==21.0.0
python-engineio==4.3.0
python-socketio==5.4.1
six==1.16.0
websockets==10.0
Werkzeug==2.0.2
