<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME - Leave Letter</title>
    <%- include('../partials/mdb_link') %>


    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        html,
        body {
            height: 100%;
            width: 100%;
            background-color: rgb(252, 252, 252);
        }

        .letter-text {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    </style>
</head>

<body class="">
    <%- include('../partials/navbar') %>

    <div id="letters" class="px-2 d-flex flex-wrap">
        <!-- <div class="card m-1" style="max-width: 15em;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text letter-text">Some quick example text to build on the card title and make up the bulk
                    of the
                    card's content.</p>
                <button type="button" class="btn btn-primary">Button</button>
            </div>
        </div> -->
    </div>
    <div class="p-2 d-flex justify-content-center">
        <a href="/letter?id=new"><button class="btn btn-success"><i class="fa-sharp fa-solid fa-file-lines me-2"></i></i>Create</button></a>
    </div>
    <script>
        function init(){
            const xhr = new XMLHttpRequest();
            xhr.open('GET', '/data');
            xhr.onreadystatechange = () => {
                if(xhr.readyState === XMLHttpRequest.DONE){
                    try{
                        
                        const payload = JSON.parse(xhr.response);
                        const letters = payload.letters;
                        console.log(payload);
                        paintLetters(letters);
                    }
                    catch(err){
                        console.error();
                    }
                }
            }
            xhr.send();
        }
        function paintLetters(letters){
            let htmldat = '';
            const elem = document.getElementById('letters');
            for (const e of letters) {
                const data = JSON.parse(e.data);
                const letter = `<div class="card m-1" style="max-width: 15em;">\
                    <div class="card-body">\
                        <h5 class="card-title">${data.subject}</h5>\
                        <p class="card-text letter-text">${data.reason}</p>\
                        <a href="/letter?id=${e.id}"><button type="button" class="btn btn-primary"><i class="fa-sharp fa-solid fa-pen-to-square me-2"></i>Edit</button></a>\
                    </div>\
                </div>`;
                console.log(e.id);
                htmldat+=letter;
            }
            elem.innerHTML = htmldat;
        }
        init();
    </script>
    <%- include('../partials/mdb_script') %>

</body>

</html>