<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Application</title>
    <%- include('../partials/mdb_link') %>


    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        html,
        body {
            height: 100%;
            width: 100%;
        }
        @media print{
            html, body{
                /* height: 29.7cm; */
                width: 21cm;
            }
            .hide-print{
                display: none !important;
            }
            input{
                border: none;
            }
            .center-print{
                text-align: center;
            }
            .date{
                text-align: right;
            }
            textarea{
                border: none;
            }
        }
    </style>
</head>

<body class="">
    <%- include('../partials/navbar') %>
    <div class="d-flex justify-content-end px-2 mb-3">
        <div>
            <span>Date:</span>
            <span id="date-today"></span>
        </div>
    </div>
    <div class="mb-3 p-2">
        <span>I,</span>
        <span id="name"></span>
        of
        <span>
            <input type="text" id="college" class="center-print">
        </span>
        College will not be able to attend
        <span>
            <input type="text" id="batch">
        </span>
        batch from
        <span class="ms-1"><input class="date" id="fday" type="number" maxLength="2"
                oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                style="width: 6ch;"></span>
        /
        <span class="ms-1"><input class="date" id="fmonth" type="number" maxLength="2"
                oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                style="width: 6ch;"></span>
        /
        <span><input class="date" id="fyear" type="number" maxLength="4"
                oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                style="width: 8ch;"></span>
        to
        <span class="ms-1"><input class="date" id="tday" type="number" maxLength="2"
                oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                style="width: 6ch;"></span>
        /
        <span class="ms-1"><input class="date" id="tmonth" type="number" maxLength="2"
                oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                style="width: 6ch;"></span>
        /
        <span><input class="date" id="tyear" type="number" maxLength="4"
                oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                style="width: 8ch;"></span>
    </div>
    <div class="mb-3 p-2">
        <span>Subject: </span>
        <span>
            <input type="text" id="subject">
        </span>
    </div>
    <div class=" p-2">
        For the following reason
    </div>
    <div class="mb-3 d-flex p-2">
        <textarea class="flex-grow-1" id="reason" cols="30" rows="10" style="resize: none;"></textarea>
    </div>
    <div class="px-2 mb-1">Please do the needful & grant me leave</div>
    <div class="px-2 mb-1">Feel free to contact me</div>
    <div class="px-2 mb-1"><span>Contact No (Student):&nbsp;</span><span><input type="number" id="studentno"></span>
    </div>
    <div class="px-2 mb-1"><span>Mail ID (Student):&nbsp;</span><span id="student-mail">student@mail.com</span></div>
    <div class="px-2 mb-1"><span>Parents No:&nbsp;</span><span><input type="number" id="parentno"></span></div>
    <div class="px-2 mb-1"><span>Native Place:&nbsp;</span><span><input type="text" id="nativeplace"></span></div>
    <div class="px-2 mb-1"><span>Regards&nbsp;</span></div>
    <div class="px-2 mb-1 d-flex justify-content-between">
        <div class="d-flex flex-column">
            <div class="mb-2">Course Name</div>
            <span>1. <input type="text" id="cn1" class="mb-2"></span>
            <span>2. <input type="text" id="cn2" class="mb-2"></span>
            <span>3. <input type="text" id="cn3" class="mb-2"></span>
        </div>
        <div class="d-flex flex-column">
            <div class="mb-2">Batch Code</div>
            <input type="text" id="btc1" class="mb-2">
            <input type="text" id="btc2" class="mb-2">
            <input type="text" id="btc3" class="mb-2">
        </div>
        <div>Trainers Sign</div>
    </div>
    <div class="d-flex justify-content-center p-2 hide-print">
        <button onclick="sendLetter()" class="mx-2 btn btn-success"><i class="fa fa-paper-plane me-2" aria-hidden="true"></i>SEND</button>
        <button onclick="window.print();" class="mx-2 btn btn-primary"><i class="fa fa-print me-2" aria-hidden="true"></i>Print</button>
    </div>
    <script>
        let letterid;
        const name = document.getElementById('name');
        const collegee = document.getElementById('college');
        const batche = document.getElementById('batch');
        const frtodatee = {
            from: {
                day: document.getElementById('fday'),
                month: document.getElementById('fmonth'),
                year: document.getElementById('fyear')
            },
            to: {
                day: document.getElementById('tday'),
                month: document.getElementById('tmonth'),
                year: document.getElementById('tyear')
            }
        }
        const subjecte = document.getElementById('subject');
        const reasone = document.getElementById('reason');
        const studentnoe = document.getElementById('studentno');
        const mailide = document.getElementById('student-mail');
        const parentnoe = document.getElementById('parentno');
        const nativeplacee = document.getElementById('nativeplace');

        const btce = [
            document.getElementById('btc1'),
            document.getElementById('btc2'),
            document.getElementById('btc3')
        ]
        const cne = [
            document.getElementById('cn1'),
            document.getElementById('cn2'),
            document.getElementById('cn3')
        ]
        function init() {
            
            const datetd = document.getElementById('date-today');
            const date = new Date();
            datetd.innerHTML = `${date.getDate()} / ${date.getMonth() + 1} / ${date.getFullYear()}`;
            const queries = new URLSearchParams(window.location.search);
            letterid = queries.get('id');
            console.log(queries.get('id'));
            if(letterid !== 'new'){
                enterExistingData(letterid);
            }

            const xhr = new XMLHttpRequest();
            xhr.open('GET', '/data');
            xhr.onreadystatechange = () => {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    const payload = JSON.parse(xhr.response);
                    // console.log(payload);
                    name.innerHTML = payload.name;
                }
            }
            xhr.send();
        }
        function sendLetter() {
            const college = document.getElementById('college').value;
            const batch = document.getElementById('batch').value;
            const frtodate = {
                from: {
                    day: parseInt(document.getElementById('fday').value),
                    month: parseInt(document.getElementById('fmonth').value),
                    year: parseInt(document.getElementById('fyear').value)
                },
                to: {
                    day: parseInt(document.getElementById('tday').value),
                    month: parseInt(document.getElementById('tmonth').value),
                    year: parseInt(document.getElementById('tyear').value)
                }
            }
            const subject = document.getElementById('subject').value;
            const reason = document.getElementById('reason').value;
            const studentno = parseInt(document.getElementById('studentno').value);
            const parentno = parseInt(document.getElementById('parentno').value);
            const nativeplace = document.getElementById('nativeplace').value;

            const btc = [btce[0].value, btce[1].value, btce[2].value]
            const cn = [cne[0].value, cne[1].value, cne[2].value]

            const letter = { college, batch, frtodate, subject, reason, studentno, parentno, nativeplace, btc: btc, cn: cn }
            


            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/letter');
            xhr.onreadystatechange = () => {
                if(xhr.readyState === XMLHttpRequest.DONE){
                    if(xhr.status === 200){
                        window.location.href = '/';
                    }
                }
            }
            xhr.send(JSON.stringify({ id: letterid, letter}));
        
        }
        function enterExistingData(letterid){
            const xhr = new XMLHttpRequest();
            xhr.open('GET', '/data');
            xhr.onreadystatechange = () => {
                if(xhr.readyState === XMLHttpRequest.DONE){
                    try{
                        const payload = JSON.parse(xhr.response);
                        console.log(payload);
                        for (const e of payload.letters) {
                            const letter = JSON.parse(e.data);
                            if(e.id === letterid){
                                // console.log(letter);
                                collegee.value = letter.college;
                                batche.value = letter.batch;
                                frtodatee.from.day.value = letter.frtodate.from.day;
                                frtodatee.from.month.value = letter.frtodate.from.month;
                                frtodatee.from.year.value = letter.frtodate.from.year;
                                frtodatee.to.day.value = letter.frtodate.to.day;
                                frtodatee.to.month.value = letter.frtodate.to.month;
                                frtodatee.to.year.value = letter.frtodate.to.year;
                                subjecte.value = letter.subject;
                                reasone.value = letter.reason;
                                studentnoe.value = letter.studentno;
                                mailide.innerHTML = payload.email;
                                parentnoe.value = letter.parentno;
                                nativeplacee.value = letter.nativeplace;
                                btce[0].value = letter.btc[0];
                                btce[1].value = letter.btc[1];
                                btce[2].value = letter.btc[2];
                                cne[0].value = letter.cn[0];
                                cne[1].value = letter.cn[1];
                                cne[2].value = letter.cn[2];
                                // console.log(letter.btc);
                            }
                        }
                    }
                    catch(err){
                        console.error(err);
                    }
                }
            }
            xhr.send();
        }
        init();

    </script>
    <%- include('../partials/mdb_script') %>
</body>

</html>