<!-- <div *ngFor="let item of elems">
  {{ item.title }}
</div> -->
<div class="row mt-3">
  <div class="col-md-12 text-center">
    <strong>Trending Movies/Shows</strong>
  </div>
</div>
<div class="row mt-3 mx-5 d-flex justify-content-center">
  <div class="col-md-4">
    <input [ngModel]="search_query" (ngModelChange)="onChange($event)" type="text" class="form-control" placeholder="search movie...."/>
  </div>
</div>








 <div class="modal modal-xl" tabindex="-1" role="dialog" id="harpreix">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div *ngFor="let e of elems; let i = index">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/original{{ e.poster_path }}" alt="Card image cap">

          <h5 class="card-title text-center mt-2">{{ e.title || e.name }}</h5>



        </div>
       
        
      </div>
      <div class="modal-body">
        <p class="card-text">Hello</p>
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-center m-2 btn-sm"><button (click)="close()" class="btn btn-sm btn-info">close</button></div>
      </div>
    </div>
  </div>
</div>




<div class="d-flex flex-wrap justify-content-center">
  <div *ngFor="let e of elems; let i = index">
    <div class="card m-3" style="width: 10em; min-height: 32em;">
      <img class="card-img-top" src="https://image.tmdb.org/t/p/original{{ e.poster_path }}" alt="Card image cap">
      <h5 class="card-title text-center mt-2">{{ e.title || e.name }}</h5>
      <div class="card-body">
        <p class="card-text">{{ e.overview.substring(0, (e.seemore ? e.overview.length : 50))+(e.seemore ? '' : '...')
          }}</p>
      </div>
      <div class="d-flex justify-content-center m-2"><button (click)="e.seemore = !e.seemore"
          class="btn btn-sm btn-warning">{{ (e.seemore) ? 'See Less' : 'See More' }}</button></div>
          <button class="btn btn-sm btn-success" (click)="open()">open</button>
    </div>
  </div>
</div>

